/* CONTACT-FORM */

.form {
  flex-grow: 1;
}

.form__input {
  margin-bottom: 24px;
}

.form__input-field {
  display: block;
  padding-left: 14px;
  padding-bottom: 23px;
  width: 100%;
  color: var(--color-text-primary);
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-text-primary);
}

.form__input-field::placeholder {
  color: var(--color-text-primary);
  opacity: 0.6;
}

.form__input-field:not(:placeholder-shown):not(:focus):invalid
  + .form__input-error {
  display: block;
}

.form__input-field:not(:placeholder-shown):not(:focus):invalid {
  margin-bottom: 8px;
  color: rgba(246, 126, 126, 0.6);
  border-color: var(--color-red-coral);
}

.form__input-field:not(:placeholder-shown):not(:focus):valid {
  border-color: var(--color-blue-rapture);
}

.form__input-field--textarea {
  min-height: 84px;
  resize: vertical;
}

.form__input-error {
  display: none;
  margin-bottom: 14px;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  color: var(--color-red-coral);
}

.form__submit {
  padding: 8px 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-transform: lowercase;
  color: var(--color-green-deep-jungle);
  background-color: var(--color-text-primary);
  border: 2px solid var(--color-text-primary);
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.form__submit:hover {
  color: var(--color-text-primary);
  background-color: transparent;
}
