/* FEATURES */

.features {
  overflow: hidden;
  padding: 140px;
  background-color: var(--color-green-sacramento);
}

.features__inner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.features__inner::after {
  content: "";
  position: absolute;
  right: -265px;
  bottom: -139px;
  z-index: -1;
  width: 200px;
  height: 244px;
  background-image: url("../../img/donut-midnight.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features-heading {
  max-width: 445px;
}

.features-heading::before {
  content: "";
  margin-bottom: 54px;
  display: block;
  width: 50px;
  height: 4px;
  background-color: var(--color-red-coral);
}

.features__list {
  margin: 0;
  margin-top: 58px;
  padding: 0;
  list-style: none;
}

.features__item:not(:last-child) {
  margin-bottom: 32px;
}

.feature {
  display: flex;
  align-items: flex-start;
}

.feature::before {
  content: "";
  flex-shrink: 0;
  margin-right: 23px;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.feature--person::before {
  background-image: url("../../img/icon-person.svg");
}

.feature--settings::before {
  background-image: url("../../img/icon-settings.svg");
}

.feature--progress::before {
  background-image: url("../../img/icon-progress.svg");
}

.feature__text {
  max-width: 445px;
}

.feature__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-red-coral);
}

.feature__desc {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
}