/* REVIEWS */

.reviews {
  padding: 140px 0;
  text-align: center;
  background-color: var(--color-green-deep-jungle);
  overflow: hidden;
}

.reviews__inner {
  position: relative;
  z-index: 1;
}

.reviews__inner::before {
  content: "";
  position: absolute;
  top: -140px;
  left: -165px;
  z-index: -1;
  width: 147px;
  height: 100px;
  background-image: url("../../img/bg-reviews-top.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.reviews__inner::after {
  content: "";
  position: absolute;
  bottom: -240px;
  right: -165px;
  z-index: -1;
  width: 200px;
  height: 200px;
  background-image: url("../../img/bg-reviews-bottom.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.reviews-heading {
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 932px;
}

.reviews-heading--blue {
  color: var(--color-blue-rapture);
}

.reviews__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.reviews__item {
  width: 350px;
}

.reviews__item:not(:last-child) {
  margin-right: 30px;
}

.review {
  padding-top: 36px;
  background-image: url("../../img/icon-quote.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 67px 56px;
}

.review__quote {
  margin: 0;
  margin-bottom: 24px;
}

.review__quote-text {
  margin: 0;
}

.review__author-name {
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-blue-rapture);
}

.review__author-job {
  margin: 0;
  margin-bottom: 32px;
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
}

.review__author-avatar {
  display: block;
  margin: 0 auto;
}

/* CTA */

.cta {
  padding: 76px 0;
  background-color: var(--color-red-coral);
  overflow: hidden;
}

.cta__inner {
  position: relative;
  z-index: 1;
  padding: 0 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta__inner::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -165px;
  width: 200px;
  height: 244px;
  background: url("../../img/bg-cta.svg") center / contain no-repeat;
}

.cta-heading {
  color: var(--color-green-sacramento);
}